
  .d1{
  background-color:rgb(3,150 , 248);
}
.d2{
  background-color:rgb(39,39 , 248);
}

.d3{
  background-color:rgb(39,39 , 248);
}
.d4{
  background-color:rgb(39,39 , 248);
}
.d5{
  background-color:rgb(39,39 , 248);
}

  body{  
    font-family:Hiragino Kaku Gothic ProN;
}
